body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
    color: brown;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: hotpink;
}
.btn-outline-success {
    color: brown;
    border-color: brown;
}
.navbar {
    position: fixed;
    z-index: 9999;
} 
.navbar-nav {
    padding-left: 200px;
}
.navbar-brand img{
    height: 50px;
    max-width: 300px;
    min-width: 100px;
    width: 100%;
}
.navbar-input {
    max-width: 400px;
    min-width: 200px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.navbar-nav li {
    padding-right: 2.0rem;
}

.navbar-nav li a{
    font-size: 20px;
    font-weight: 500;
    color: brown;
}
.container-fluid{
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.container-fluid img{
    width: 100%;
}
.container-fluid a{
    background-color: brown;
    color: greenyellow;
    border-radius: 50px;
    padding: 16px 30px;
    text-decoration: none;
}
.container-fluid a:hover {
    color: hotpink;
}
.background1-text {
    color: brown;
    font-size: 50px;
    padding-bottom: 20px;
    font-style: oblique;
}
.fluid-text {
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 120px;
    right: 30px;
}